/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style:;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

 

*{
	
	box-sizing: border-box;
	padding:0;
	margin:0;
	max-width:100%;
	
}


body{
	margin: 0 auto;
	width: 1000px
}
.navagation{
	padding-bottom: 20px;
	overflow: hidden;
	background-color: rgb(53, 45, 45);
	position: fixed;
	top: 0;
	width: 40%;
	
}
.navagation a:hover{
	background: rgb(51, 53, 167);
  	color: black;
}
.navagation a{
	
	padding: 2%;
	margin: 10px;
	color: grey;
	text-decoration: none;
}
.header{
	display:flex;
	margin-top: 100px;
}
.innovation{
	
	display:flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width:51%;
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 75px ;
	
}
.getstarted{
	font-size: 30px;
	background: black;
	color:white;
	font-family: none;
	display:flex;
	justify-content: center;
	margin-left:170px;
	width:30%
}
.beforeimg{
	padding: 10px;
	display:flex;
	justify-content: space-around;
	border-top: 3px solid black;
	margin-top: 2.5%;
}

.features{
	width: 40%;
}
.about{
	width: 40%;
}

.imagethree{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	width: 100%;
}

.afterimage{
	display:flex;
	justify-content: space-around;
	margin-top: px;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
	padding: 50px
	
	
}

.services{
	width: 33%
}
.product{
	width: 33%
}
.vison{
	width: 33%
}
.strech{
	display:flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
	border-bottom: 2px solid black;
	font-family: 'Calligraffitti', cursive;
	
}
.employees{
	margin-left: 65px;
	width:50%;
	margin-bottom: 20px;
}
.subsidiaries{
	width: 50%;
}


.address{
	
	width:15%;
}
.street{
	margin-bottom: 20px
}
.phone{
	margin-bottom: 20px
}
.email{
	margin-bottom: 20px;

}

footer{
	text-align: center;
}

/* SERVICES HTML CSS STARTS HERE */ 

.services-header-img{
	margin-left: 50px;
	margin-top: 100px;
	display:flex;
	justify-content: center;
}
.servicestitle{
	margin-top:20px;
	font-size: 30px;

}
.aboutservices{
	margin-bottom: 30px;
	font-size:19px;
}
.sixboxes{
	border-top:1px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	align-content:;
	
}
.sixboxes div{
	
	padding: 15px;
	background: rgb(221, 219, 219);
	border: 1px solid black;
	margin-top:35px;

	height: 250px;
	width: 425px;
	
}
.sixboxes div p {
	font-size: 19px
}
.learnmore{
	border: 1px solid black;
	background: white;
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	padding: 7px;
	justify-content: center;
	align-content: center;
	width: 150px;
	height: 35px;
}
.servicefacts{
	margin-top:20px;
	border-top: 2px solid black;
	
	display:flex;
	justify-content: space-evenly;
	
	
}
.servicecontent{
	
	
	margin-top: 40px;
	margin-right: 16px;
	
	width: 40%
}

h6{
	font-size: 35px;
}
.services-info-img{
	margin-top: 40px;
	
}
.list{
	
	margin-top: 20px;
	line-height: 25px;
	margin-left: 20px;
}
.listtwo{
	list-style-type: square;
}




copyright{
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 75px;
	display:flex;
	justify-content: center;

}